@use "tailwindcss";

:root {
  --color-primary: #1A2E05;
  --color-primary-foreground: #E3E3E3;
  --color-surface: #FFFFFF;
  --color-foreground: #252525;
  --color-accent: #E5E7EB;
}

@theme {
  --color-primary: var(--color-primary);
  --color-primary-foreground: var(--color-primary-foreground);
  --color-surface: var(--color-surface);
  --color-foreground: var(--color-foreground);
  --color-accent: var(--color-accent);
}
